<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:form="http://www.springframework.org/tags/form"
                xmlns:spring="http://www.springframework.org/tags">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Krzysztof Zybul">

    <title>JWC - Jeppesen Waypoint Comparator</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- AgGrid-->
    <script src="https://unpkg.com/ag-grid/dist/ag-grid.min.noStyle.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid/dist/styles/ag-theme-balham.css">

  </head>

  <body id="page-top">
    <scroll-container>

    <!-- Navigation -->
    <div id="home">
      <div id="navbar" style="z-index: 1">
        <a href="#home">Home</a>
        <a href="#services">Services</a>
        <a href="#upload">Upload</a>
        <a href="#compare">Compare</a>
        <a href="#download">Download</a>
      </div>
    </div>

    <div class="parallax">
      <div class="parallax-text-min">Welcome to Jeppesen's!</div>
      <div class="parallax-text-max">Waypoint Comparator</div>
    </div>

    <!-- Services -->
    <section id="services" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Upload</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-refresh fa-stack-1x fa-inverse fa-spin"></i>
            </span>
            <h4 class="service-heading">Compare</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Update</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- upload -->
    <section id="upload" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="section-heading text-uppercase">Upload</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
              <form id="uploadForm" method="POST" action="uploadFile" enctype="multipart/form-data" th:action="@{/}">
                <span class="input-group-btn">
                    <span class="btn btn-primary">
                        <input required type="file" single id="opsFileUpload" name="opsFile" accept=".csv" lang="en" form="uploadForm">OPS </input>
                    </span>
                    <span class="btn btn-primary">
                        <input required type="file" single id="jadFileUpload" name="jadFile" accept=".csv" lang="en" form="uploadForm">JAD </input>
                    </span>
                  <span>
                    <button id="uploadFiles" class="btn btn-primary text-uppercase" style="background-color:green" type="submit" value="Submit" form="uploadForm" onclick="waitingDialog.show('Loading Waypoints Data...'); setTimeout(function () {waitingDialog.hide();}, 5000);">Upload</button>
                    <button id="resetData" class="btn btn-primary text-uppercase" onclick="location.href='/'" style="background-color:red" type="submit" value="Submit">Reset</button>
                  </span>
                </span>
              </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Compare -->
    <section id="compare" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-refresh fa-stack-1x fa-inverse fa-spin"></i>
            </span>
            <h2  class="section-heading text-uppercase">Compare</h2>
          </div>
          <div class="container">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active btn-primary" id="nav-ops-tab" data-toggle="tab" href="#menu_ops" role="tab" aria-controls="nav-ops" aria-selected="true">OPS Data</a>
                <a class="nav-item nav-link btn-primary" id="nav-jad-tab" data-toggle="tab" href="#menu_jad" role="tab" aria-controls="nav-jad" aria-selected="false">JAD Data</a>
                <a class="nav-item nav-link btn-primary" id="nav-raport-tab" data-toggle="tab" href="#menu_raport" role="tab" aria-controls="nav-raport" aria-selected="false">Raport</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="menu_ops" role="tabpanel" aria-labelledby="nav-ops-tab">
                <h6 style="padding:5px">OPS Waypoints uploaded: <span th:text="${opsCount}">0</span></h6>
                <div id="myGridOps" style="height: 600px;width:1200px;" class="ag-theme-balham"></div>
              </div>
              <div class="tab-pane fade" id="menu_jad" role="tabpanel" aria-labelledby="nav-jad-tab">
                <h6 style="padding:5px">JAD Waypoints uploaded: <span th:text="${jadCount}">0</span></h6>
                <div id="myGridJad" style="height: 600px;width:1200px;" class="ag-theme-balham"></div>
              </div>
              <div class="tab-pane fade" id="menu_raport" role="tabpanel" aria-labelledby="nav-raport-tab">
                <h6 style="padding:5px">Raport Waypoints extracted: <span th:text="${raportCount}">0</span></h6>
                <div id="myGridRaport" style="height: 600px;width:1200px;" class="ag-theme-balham"></div>
              </div>
            </div>
          </div>
        </div>
        </div>

    </section>

    <!-- Download -->
    <section id="download" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="section-heading text-uppercase">Download</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Jeppesen 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/agency.min.js"></script>
    <script src="../js/bootstrap-waitingfor.min.js"></script>

    <!--Ag-Grid-->
    <script src="../vendor/ag-grid/ag-grid-script-jad.js"></script>
    <script src="../vendor/ag-grid/ag-grid-script-ops.js"></script>
    <script src="../vendor/ag-grid/ag-grid-script-raport.js"></script>
    </scroll-container>
  </body>

</html>
